@page
@model IndexModel
@{
    ViewData["Title"] = "Le pendu de DO It";
}

<div class="text-center">
    <h1 class="display-4">Le Pendu</h1>
    <p>
        Bienvenue sur ce jeu développé dans le cadre d'un MON. 
        Il s'agit d'un pendu utilisant une liste de mots en rapport avec la gestion de projet,
        le management et le développement.
    </p>
    <a asp-page="Jeu">Jouer au pendu du jour</a>
</div>
