@page
@using Microsoft.AspNetCore.Http
@model Pendu.Pages.JeuModel
@{
	ViewData["Title"] = "Jeu";
}

<div>
	<div>
		Tu as fait <span>@Model.Jeu.Mistakes</span> erreurs.
	</div>
	<div>
		@Model.Jeu.KnownLetters
	</div>
	@foreach (var character in "ABCDEFGHIJKLMNOPQRSTUVWXYZ")
	{
		<a asp-page-handler="IsGoodGuess" asp-route-guess="@character">@character</a>
	}
</div>
