@page
@model Pendu.Pages.JeuModel
@{
	ViewData["Title"] = "Jeu";
}

<div>
	<p>Le prochain mot est @Model.NextWord</p>
	<div>
		Tu as fait <span>3</span> erreurs.
	</div>
	<div>
		_ _ _ _ _
	</div>
</div>
